@import 'styles/theme';

.board{
    overflow: hidden;

    &.bg-img{
        /* Make sure the bg comes first and is relative, so the container knows its size */
        position:relative;
        height: 100vh;
        width: auto;
        min-height: 600px;
        min-width: 800px;
        aspect-ratio: 4/3;

    }
}