@import 'styles/theme';

.editProfile{
  &.container{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 85%;
    min-height: 600px;
    min-width: 800px;
    margin-top: auto;
    margin-bottom: auto;
    color: $buttonColorDark;
    display: flex;
    @include center;
  }

  &.board{
    height: 100%;
    width: 85%;
    flex-direction: column;
    padding: 2vh 2.5vw;
    border-radius: 0;
    border: 5px solid $buttonColorDark;
    transition: opacity 0.5s ease, transform 0.5s ease;
    @include center;
  }

  &.containerUserInfo{
    width: 70%;
    flex-direction: column;
    @include center;

  }

  &.title{
    padding: 2% 0 0 0;
    font-size: 20px;
  }

  &.userInfo{
    width: 100%;
    text-align: left;
    height: 2vw;
    padding: 15px 0 0 0;
    margin-bottom: -4px;
    font-size: 20px;
  }
  &.button{
    margin-top: 5%;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    width: 35%;
    height: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 4px gray;
    background: #C7CB95;

  }
}

.errors{
  margin-top: 1em;
  padding: 6px;
  font-weight: 700;
  font-size: 0.75em;
  text-align: center;
  height: 2.5em;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $textClear;
  background-color: #ff4444;
}





