@import 'styles/theme';

.header {
  &.container {
    @include center;
  }

  &.title {
    font-weight: 400;
    color: $textDark;
    text-align: center;
    padding-bottom: 1vh;
    border-bottom: 0.1vw solid $buttonColorDark ;
    font-size: 3vw;
    width: 20%;
  }
}