@import 'styles/theme';

.header {
  &.container {
    @include center;
    height: Max(26vh, calc(150px + 6vh));

    &>img{
      height: Max(20vh, 150px);
      margin: 6vh 10px 0 10px;
    }
  }

}