@import 'styles/theme';

.lobby{
    & h1{
        color: black;
        font-size: 48px;
        flex-basis: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &.container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        min-width: 510px;
        margin: auto 10% auto 10%;
    }
    &.member-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-basis: 50%;
        height: Max(33vh, 250px);
        align-items: center;
    }
    &.circle-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.circle {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 175px;
      min-height: 175px;
      background-color: #A4CDFD;
      border-radius: 50%;
    }
    &.circle svg{
        font-size: 70px;
        color: black;
    }
    &.member{
        display: flex;
        justify-content: center;
        font-size: 24px;
        margin-top: 20px;
    }
    &.button{
        height: 70px;
        width: 280px;
        background-image: url('/LobbyButton.svg');
        background-size: contain;
        margin-top: 20px;
        align-items: center;
        font-size: 24px;
    }
    &.start{
        height: 70px;
        width: 280px;
        background-image: url('/LobbyButtonGreen.svg');
        background-size: contain;
        margin-top: 20px;
        align-items: center;
        cursor: pointer;
        font-size: 24px;
        position: relative;
        transition: all 0.2s ease;
        top: 0px;
        &:hover{
            top: -10px;
            opacity: 50%;
        }
    }
    display: flex;
    justify-content: center;
    width: 40%;
}
.side-bar {
    &.container{
        display: flex;
        justify-content: space-between;
        border-right: 3px solid black;
    }
    &.button{
        height: fit-content;
        width: 100%;
        min-width: 197px;
        color: black;
        text-align: left;
        font-size: 28px;
        padding: 12px 0 12px 40px;
        background-color: #ECF4FE;
        border-radius: 0;
        &.active {background-color: #8DA9C4;}
        &:hover {
        background-color: $buttonColorLight;
      }
    }
    &.logout{
        height: 60px;
        width: 60px;
        padding-bottom: 20px;
        padding-left: 40px;
        &:hover {
                transform: translateY(-2px);
              }
    }
    &.logout svg{
        font-size: 38px;
        color: black;
    }
    & h1{
        margin-left: 40px;
        color: black;
        font-size: 48px;
    }
    flex-direction: column;
    width: 15%;
    min-width: 200px;
}
.search{
    &.container{
        width: 25%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        padding-right: 60px;
    }
    &.searchbox{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 85%;
        background-color: $buttonColorLight;
        margin-top: auto;
        margin-bottom: auto;
    }
    &.searchbar{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
    }
    &.input {
        height: 35px;
        width: 80%;
        padding-left: 15px;
        margin-left: -4px;
        border: none;
        border-radius: $borderRadius;
        margin-bottom: 20px;
        color: black;
        background-color: $background;
    }
    &.user-list{
        overflow-x: hidden;
        overflow-y: auto;
        height: 80%;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &.placeholder{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
.player {
  &.container {
    margin: 8px 0;
    width: 100%;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: $background;
    transition: background 0.2s ease;
    
    &:hover{
        background: $buttonColorDark;
        color: $textClear;
    }
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
}
