@import 'styles/theme';

.marbles{
    overflow: hidden;

&.flex{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
&.container{
    position: relative;
    height: 100%;
}
}

button:nth-of-type(2){
    //place left
    position: absolute;
    top: calc(100% - 20%);
    left: calc(100% - 15%);
    width: 10%;
    height: 5%;
    background-color: $buttonColorLight;
    color: $textDark;
}
button:nth-of-type(1){
    //place left
    position: absolute;
    top: calc(100% - 10%);
    left: calc(100% - 15%);
    width: 10%;
    height: 5%;
    background-color: $buttonColorLight;
    color: $textDark;
}