@import 'styles/theme';

.marble{
    /* the marble is now absolute TO THE PARENT ELEMENT, so calcualte top and left accordingly */
    position: absolute;
    height: 4%;
    width: 3%;

    &.selected{
        outline-width: 0.25em;
        outline-style: solid;
        outline-color: tomato;
        outline-offset: -0.125em;
        border-radius: 50%;
    }

    &.possible-move{
        outline-width: 0.25em;
        outline-style: solid;
        outline-color: $buttonColorLight;
        outline-offset: -0.125em;
        border-radius: 50%;
    }
}