@import 'styles/theme';
.base-container{
  margin-left: 0;
  padding-left: 0px;
  margin-right: 0;
  padding-right: 0px;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
}

.menuContainer{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  min-width: 600px;
  min-height: 400px;
  max-width: $DESKTOP_WIDTH;
  color: $buttonColorDark;
  display: flex;
  @include center;
}

.info{
  &.userInfo {
    align-items: center;
    width: 30%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: $borderRadius;
    border: 5px solid $buttonColorLight;
  }



  &.foto{
    margin: auto;
    background-color: $buttonColorLight;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    margin: 1vw auto 1vw auto;

  }

  &.infoContainer {
    font-size: 2vh;
    text-align: center;
  }
  &.nickName{
    padding-top: 2vh;
    font-size: 4vh;
  }

  &.singleInfo{
    padding: 1vw;
  }

  &.button-container {
    margin-top: 2vh;
    text-align: center;
  }
  &.spaceUp{
    padding-bottom: 1vh;
  }

}

.line{
  &.lineverticalleft  {
    padding-right: 10%;
    border-left: 2px solid $darkLine  ;
    height: 100%;
  }
  &.lineverticalright  {
    padding-left: 10%;
    border-right: 2px solid $darkLine  ;
    height: 100%;
  }
}

.invites{
  &.container {
    align-items: center;
    width: 35%;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  &.titleInvites{
    text-align: center;
    font-size: 3vh;
    padding-bottom: 1vh;
  }

  &.inviteslist {
    list-style: none;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80%;
  }

  &.singleInvites{
    background-color: $buttonColorDark;
    color: $textClear;
    border-radius: 7px;
    font-size: 3vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7vh 1vw 0.7vh 1vw;
    margin-bottom: 0.7em;
  }

  &.inviteText {
    max-width: 80%;
    overflow: hidden;
  }

  &.inviteButton {
    font-size: 3vh;
    margin-left: auto;
    width: fit-content;
    height: 5vh;
    text-align: center;
    border-radius: 2px;
    color: $textDark;
    background-color: $buttonColorLight;
    padding-top: 0.5vh;
    padding-bottom: 0.2vh;
    padding-left: 1vw;
    padding-right: 1vw;

  }

  &.createGame {
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-top: 2px solid $darkLine  ;
    padding-top: 1vh;

  }

}
