@import 'styles/theme';

.base-container-menu{
    height: calc(100vh - 130px);
}

.menuContainer{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 90%;
  min-width: 800px;
  //min-height: 600px;
  max-width: $DESKTOP_WIDTH;
  color: $buttonColorDark;
  display: flex;
  @include center;
}

/*
    &.user{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        font-size: 28px;
        padding: 0 0 12px 40px;
    }
    [data-testid="PersonIcon"]{
        color: $textDark;
        margin-right: 5px;
        height: Max(30px, 3vh);
        width: Max(30px, 3vh);
   }
*/

.line{
  &.lineverticalleft  {
    padding-right: 10%;
    border-left: 2px solid $darkLine  ;
    height: 100%;
  }
  &.lineverticalright  {
    padding-left: 10%;
    border-right: 2px solid $darkLine  ;
    height: 100%;
  }
}

.invites{
    &.container {
        width: 40%;
        position: relative;
        height: 100%;
        overflow: hidden;
        padding: 2%;
    }

    & h1{
        text-align: center;
        font-size: Min(64px, 5vw);
        font-weight: normal;
        margin-bottom: 6%;
        margin-top: 8%;
        color: $textDark;
    }

    &.inviteslist {
        list-style: none;
        padding: 5%;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 80%;
        height: 60%;
    }

    &.singleInvites{
        display: flex;
        background-color: $buttonColorLight;
        color: $textDark;
        font-size: 22px;
        box-shadow: 0 4px 4px gray;
        height: fit-content;
        min-height: 46px;
        justify-content: center;
        align-items: center;
        padding: 22px 25px 22px 25px;
        margin-bottom: 10px;
    }
    &.invite-placeholder{
        display: flex;
        background-color: $buttonColorLight;
        color: $textDark;
        font-size: 22px;
        height: fit-content;
        min-height: 46px;
        justify-content: center;
        align-items: center;
        padding: 22px 25px 22px 25px;
        margin-bottom: 10px;
    }

    &.inviteText {
        font-size: 28px;
        max-width: 80%;
        overflow: hidden;
    }

    &.inviteButton {
        margin-left: auto;
        width: fit-content;
        height: 80%;
        text-align: center;
        border-radius: 2px;
        color: $textDark;
        background-color: $background;
        padding: 9px 15px 9px 15px;
        cursor: pointer;
    }

    &.createGame {
        text-align: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        border-top: 2px solid $darkLine  ;
        padding-top: 5%;
    }

    &.button{
        font-size: 28px;
        width: 60%;
        height: Max(50px, 7vh);
        margin: 1%;
        box-shadow: 0 4px 4px gray;
    }
}

.menu.info{
    flex-direction: column;
    & h1{
      color: white;
      font-size: Min(48px, 3.5vw);
      font-weight: normal;
      margin-bottom: 5%;
      margin-top: 5%;
    }

    &.userInfo {
        display: flex;
        align-items: center;
        width: 20%;
        min-height: 500px;
        min-width: 250px;
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: $buttonColorDark;
    }
    &.user-list{
        overflow-x: hidden;
        overflow-y: auto;
        height: 80%;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &.infoContainer {
        font-size: 18px;
        width: 60%;
        text-align: left;
    }
    &.placeholder{
       display: flex;
       justify-content: center;
       margin-top: 20px;
       color: $background;
    }
}

.player {
  &.container {
    margin: 8px 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $background;
    transition: background 0.2s ease;
    box-shadow: 0 4px 4px gray;

    &:hover{
        background: $buttonColorLight;
        color: $textDark;
    }
  }
  &.username {
    font-weight: 300;
    margin-right: auto;
  }
  &.status {

    border-radius: 50%;
    height:10px;
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &.wins {
    padding: 5px;
  }

  &.rank{
    padding: 5px;
  }

}

