@import 'styles/theme';

.base-container-menu{
    height: calc(100vh - 130px);
}

.menuContainer{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 90%;
  min-width: 800px;
  //min-height: 600px;
  max-width: $DESKTOP_WIDTH;
  color: $buttonColorDark;
  display: flex;
  @include center;
}

.popup{
  &.popup-box {
    z-index: 99999;
    position: absolute;
    background: #00000050;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

  }

  &.box {
    text-align: center;
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: $background;
    border-radius:$borderRadius;
    padding: 5%;
    border: 1px solid #999;
    overflow: auto;
  }

  &.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }
  &.singleInfo{
    padding: 5%;
  }
}



.profilePage {
  &.container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 80%;
    min-width: 800px;
    margin-top: 5%;
    color: $buttonColorDark;
    display: flex;
    @include center;
  }

  &.board {
    width: 85%;
    border-block-start-width: 5vh;
    flex-direction: column;
    padding: 2vh 2.5vw;
    border-radius: $borderRadius;
    border: 5px solid $buttonColorLight;
    transition: opacity 0.5s ease, transform 0.5s ease;
    @include center;
  }


  &.containerTitle{

    flex-direction: column;
    @include center;
  }

  &.userName{
    padding: 2%;
    font-size: 50px;
  }
  &.containerUserInfo {
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: left;
  }

  &.userInfoPopUp{
    padding-bottom: 25%;
    height: auto;
    font-size: 20px;
  }
  &.buttonToSafe{
    height: 2vw;
    padding: 20%;

  }

}

.errors{
  margin-top: 1em;
  padding: 6px;
  font-weight: 700;
  font-size: 0.75em;
  text-align: center;
  height: 2.5em;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $textClear;
  background-color: #ff4444;
}

