@import 'styles/theme';


.profilePage {
  &.outercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
  }

  &.container {
    width: 60%;
    height: 80%;
    min-width: 800px;
    max-width: calc(min(100vh, 100vw));
    max-height: calc(min(100vh, 100vw));
    color: $buttonColorDark;
    display: flex;
    @include center;
  }

  &.bill-board {
    width: 100%;
    flex-direction: column;
    padding: 5vh 2.5vw;
    border: 5px solid $buttonColorDark;
    transition: opacity 0.5s ease, transform 0.5s ease;
    @include center;
  }


  &.containerTitle{

    flex-direction: column;
    @include center;
    padding-top: 7%;
  }

  &.userName{
    padding: 7%;
    font-size: 50px;
  }
  &.containerUserInfo {
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: left;
  }

  &.userInfo{
    height: auto;
    padding: 10px;
    font-size: 20px;
    inline-size: 100%;
    overflow-wrap: break-word;
    background-color: $background;
  }
  &.toEdit {
    text-align: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-top: 2px solid $darkLine  ;
    padding-top: 10%;
    margin-top: 20%;
  }

  &.buttonToEdit{

    margin-right: auto;
    margin-left: auto;
    font-size: 28px;
    width: 60%;
    height: auto;
    padding: 8px;
    text-align: center;
    box-shadow: 0 4px 4px gray;
    background: #C7CB95;

  }

}

.css-v0rsyg-MuiGrid-root{
    padding: 16px;
}
.css-1dsnw5r-MuiGrid-root{
    padding: 16px;
}

.table{
  &.tableName{
    padding: 10%;
    font-size: 40px;
    overflow: hidden;
  }
  .css-nmrhyd-MuiTableRow-root{
    background: linear-gradient(90deg, rgba(231,111,109,1) 2%, rgba(247,248,241,1) 1%, rgba(247,248,241,1) 41%, rgba(247,248,241,1) 90%);
  }
  .css-44gocc-MuiTableRow-root{
    background: linear-gradient(90deg, rgba(165,231,109,1) 2%, rgba(247,248,241,1) 1%, rgba(247,248,241,1) 41%, rgba(247,248,241,1) 90%)
  }
}

.errors{
  margin-top: 1em;
  padding: 6px;
  font-weight: 700;
  font-size: 0.75em;
  text-align: center;
  height: 2.5em;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $textClear;
  background-color: #ff4444;
}





