@import 'styles/theme';

.login-background{
    background-color: $buttonColorDark;
}
.base-container-ReLo{
    height: Min(calc(100vh - 150px - 6vh), 74vh);
}
.containerRegistrationLogin{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    min-width: 710px;
    min-height: 400px;
    color: $textDark;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration{
    background-color: $background;
    width: Max(42%, 350px);
    height: Max(75%, 400px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 4%;
    border-radius: 0;
    //border: 5px solid $buttonColorDark;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 4px 15px #3B474A;
}


.login{
    background-color: $background;
    width: Max(42%, 350px);
    height: Max(75%, 400px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2% 4%;
    border-radius: 0;
    //border: 5px solid $buttonColorDark;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 4px 15px #3B474A;
}

.content{
  &.title{
    font-size: 3em;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1.2em;
    flex-direction: column;
    display: flex;
    border-bottom: 2px solid $buttonColorDark ;
    height: 1em;
  }
  &.field {
    flex-direction: column;
    display: flex;
  }

  &.input {
    height: 45px;
    padding-left: 0.75vw;
    border: none;
    border-radius: 0;
    margin-bottom: 4%;
    color: $textDark;
    box-shadow: 0 1px 2px lightgray;
  }
  &.label {
    color: $textDark;
    margin-bottom: 1vh;
    font-weight: 300;
  }
  &.button-container {
    margin: 0 auto 8% auto;
    box-shadow: 0 2px 4px gray;
    height: 45px;
    font-size: 22px;
  }

  &.lineverticalleft  {
    padding-right: 10%;
    border-left: 2px solid $darkLine  ;
    height: 60%;
  }
  &.lineverticalright  {
    padding-left: 10%;
    border-right: 2px solid $darkLine  ;
    height: 60%;
  }
}
.relo-errors{
  margin-bottom: 3%;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  height: 35px;
  border: none;
  border-radius: 0;
  color: $textClear;
  background-color: #ff4444;
}
