@import 'styles/theme';

.login {
  &.container {
    margin-top: 2em;
    min-height: 300px;
    color: $textDark;
    @include center;
  }
  &.formRegister {
    float: right;
    font-size: 16px;
    width: 17em;
    flex-direction: column;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: $borderRadius;
    border: 5px solid $buttonColorLight;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &.formLogin {
    float: left;
    font-size: 16px;
    width: 17em;
    flex-direction: column;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: $borderRadius;
    border: 5px solid $buttonColorLight;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &.title{
    font-size: 36px;
    text-align: center;
    padding-bottom: 1.2em;
    flex-direction: column;
    display: flex;
    border-bottom: 2px solid $buttonColorDark ;
    height: 1em;
  }
  &.field {
    flex-direction: column;
    display: flex;
    padding-top: 1em;

  }

  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: $borderRadius;
    margin-bottom: 20px;
    color: $textDark;

  }
  &.label {
    color: $textDark;
    margin-bottom: 10px;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  &.linevertical  {
    border-left: 2px solid $darkLine  ;
    height: 22em;
    padding-right: 37px;
  }

  &.space{
    padding-right: 37px;
  }
}