@import 'styles/theme';



.aspectratio-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    min-height: 600px;
    min-width: 300px;
    background-color: $buttonColorDark;
    color: $textClear;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999999;

    & .img-div{
        height: 25vh;
        max-height: 25vh;
        &> img {
            height: 80%;
        }
    }


}