@import 'styles/theme';

/**
 * bottom hand controlled by the player
 bottom center of the board as a row
 cards not rotated
 */
.hand{
    display: flex;
    position: relative;
    justify-content: center;
}

//old:
// .hand{
//     display: flex;
//     flex: 1; (this does nothing)
//     flex-direction: row;
//     justify-content: space-evenly;
// }