.handwrapper-container{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;

    &> div:first-of-type{
        //place at the bottom
        position: absolute;
        top: calc(100% - 10%);
        left: calc(50% - 25%);
        width: 50%;
        height: 10%;
    }
    &> div:nth-of-type(2){
        //place left
        position: absolute;
        top: calc(50% - 5%);
        left: calc(0% - 20% + 5%);
        width: 40%;
        height: 10%;
        transform: rotate(90deg);
    }
    &> div:nth-of-type(3){
        //place at top
        position: absolute;
        top: calc(0%);
        left: calc(50% - 20%);
        width: 40%;
        height: 10%;
        transform: rotate(180deg);
    }
    &> div:nth-of-type(4){
        //place right
        position: absolute;
        top: calc(50% - 5%);
        left: calc(100% - 20% - 5%);
        width: 40%;
        height: 10%;
        transform: rotate(270deg);
    }
}