@import 'styles/theme';


.img-card{
    background-color: $buttonColorLight;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 3px;
    color: $textDark;
    width: min-content;
    text-align: center;
    & svg{

    }

    & div:first-of-type{
        font-size: x-large;
        font-weight: bolder;
    }
    &.distance{
        margin: 8px 0 4px;
        padding: 2px;
    }
}