@import 'styles/theme';

.playerinfo-container{

    & label{
        color: $textClear;
        margin-left: 5px;
        margin-top: 5px;
    }

    &.indicators{
        display: flex;
        flex-direction: column;
        align-items: left;
        height: fit-content;
    }

    &> div:first-of-type{
        //place at the bottom
        position: absolute;
        top: 90%;
        left: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
    }
    &> div:nth-of-type(4){
        //place left
        position: absolute;
        top: 13%;
        left: 3%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
    }
    &> div:nth-of-type(3){
        //place at top
        position: absolute;
        top: 3%;
        left: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
    }
    &> div:nth-of-type(2){
        //place right
        position: absolute;
        top: 80%;
        left: 85%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
    }
    .css-10yu22f-MuiAvatar-root{
        height: Max(40px, 7vh);
        width: Max(40px, 7vh);
    }
    [data-testid="VolumeUpIcon"]{
            color: white;
            margin-left: 5px;
            height: Max(30px, 3vh);
            width: Max(30px, 3vh);
       }
    [data-testid="VolumeOffIcon"]{
            color: white;
            margin-left: 5px;
            height: Max(30px, 3vh);
            width: Max(30px, 3vh);
       }
}