@import 'styles/theme';

.notification{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 20%;
    width: 40%;
    align-items: center;
    background-color: $background;
    top: 40%;
    left: 30%;
    border: 5px solid $buttonColorDark;

    &.label{
        font-size: 40px;
        color: $textDark;
    }
}