@import 'styles/theme';

.rules-popup{
    &.box {
        text-align: center;
        position: relative;
        width: 70%;
        margin: 0 auto;
        height: auto;
        max-height: 75vh;
        margin-top: calc(100vh - 85vh - 20px);
        background: $background;
        padding: 2% 4%;
        border: 1px solid #999;
        overflow: auto;

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.info-block {
    font-size: calc(max(1.5vh, 11px));
    padding-top: 0;
    padding-bottom: 2%;
    text-align: left;

    > h1{
        font-size: calc(max(4vh, 16px));
        padding-bottom: 10px;
        border-bottom: solid 1px;
        text-align: center;
    }

    > h2{
        margin-top: 18px;
        margin-bottom: 3px;
        font-size: calc(max(1.5vh, 14px));
    }
}