.turn-indicator{
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    top: 0px;
    left: 0px;

    &> svg{
        width: 10%;
        height: auto;
        position: relative;
    }
    [data-testid="ArrowDropDownIcon"]{
        top: 14%;
        left: 0%;
    }
    [data-testid="ArrowDropUpIcon"]{
        top: -14%;
        left: 0%;
    }
    [data-testid="ArrowLeftIcon"]{
        top: 0;
        left: -10%;
    }
    [data-testid="ArrowRightIcon"]{
        top: 0;
        left: 10%;
    }
}